@model List<HeroModel>;

    <head></head>

 <body class="pg2">

    @foreach(var item in Model)
    {
     
        <div id="picture"><img id="pic" src="@item.Image"  /> </div>

        <div id="name">@item.Name</div>


        
        <div id="heading">Power Stats</div>

        <table class="table" id="powerstats">
            <tr>
                <th scope="row"><label for="Combat">Combat:</label></th>
                    <td><progress id="combat" value="@item.Combat" max="100">@item.Combat% </progress></td>
                    <td>@item.Combat%</td>
            </tr>
            <tr>
                <th scope="row"><label for="Intelligence">Intelligence:</label></th>
                    <td><progress id="intelligence" value="@item.Inteligence" max="100"> @item.Inteligence% </progress> </td>
                    <td>@item.Inteligence%</td>
            </tr>
            <tr>
                <th scope="row"><label for="Strength">Strength:</label></th>
                    <td><progress id="strength" value="@item.Strength" max="100"> @item.Strength% </progress></td>
                    <td>@item.Strength%</td>
            </tr>
            <tr>
                <th scope="row"><label for="Speed">Speed:</label></th>
                    <td><progress id="speed" value="@item.Speed" max="100"> @item.Speed% </progress></td>
                    <td>@item.Speed%</td>
            </tr>
            <tr>
                <th scope="row"><label for="Durability">Durability:</label></th>
                    <td><progress id="durability" value="@item.Durability" max="100"> @item.Durability% </progress></td>
                    <td>@item.Durability%</td>
            </tr>
            <tr>
                <th scope="row"><label for="Power">Power:</label></th>
                    <td><progress id="power" value="@item.Power" max="100"> @item.Power% </progress></td>
                    <td>@item.Power%</td>
            </tr>
        </table>
                 

        

            <div id="heading">Origin</div>
            <table class="table" id="origin">

                 <tr>
                    <th scope="row">Creator:</th>
                        <td>@item.Publisher</td>
                 </tr>
                 <tr>
                    <th scope="row">Full Name:</th>
                        <td>@item.FullName</td>
                 </tr>
                 <tr>
                    <th scope="row">Place of Birth:</th>
                        <td>@item.PlaceOfBirth</td>
                 </tr>
                 <tr>
                    <th scope="row">First Appearance</th>
                        <td>@item.FirstAppearance</td>
                 </tr>
                 <tr>
                    <th scope="row">Alignment:</th>
                        <td>@item.Alignment</td>
                 </tr>
                 <tr>
                    <th scope="row">Aliases</th>
                        @foreach(var alias in item.Aliases){<td>@alias</td>}
                 </tr>
            </table>
            
            <div id="heading">Connections</div>

            <table class="table" id="connections">

                 <tr>
                    <th scope="row">Occupation:</th>
                        <td>@item.Occupation</td>
                 </tr>
                 <tr>
                    <th scope="row">Base:</th>
                        <td>@item.Base</td>
                 </tr>
                 <tr>
                    <th scope="row">Relatives:</th>
                        <td>@item.Relatives</td>
                 </tr>
            </table>
                      
            <div id="heading">Appearance</div>

            <table class="table" id="appearance">

                 <tr>
                    <th scope="row">Gender:</th>
                        <td>@item.Gender</td>
                 </tr>
                 <tr>
                    <th scope="row">Species/Type:</th>
                        <td>@item.Race</td>
                 </tr>
                 <tr>
                    <th scope="row">Height:</th>
                        <td>@item.Height[0]</td>
                 </tr>
                 <tr>
                    <th scope="row">Weight:</th>
                        <td>@item.Weight[0]</td>
                 </tr>
                 <tr>
                    <th scope="row">Eye Color</th>
                        <td>@item.EyeColor</td>
                 </tr>
                 <tr>
                    <th scope="row">Hair Color:</th>
                        <td>@item.HairColor</td>
                 </tr>
            </table>
                       


        
    }       
</body>
         

         
         




     


 